<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Firebase.Database" version="1.0.0" targetFramework="net48" />
  <package id="FirebaseAdmin" version="3.0.0" targetFramework="net48" />
  <package id="Google.Api.Gax" version="4.8.0" targetFramework="net48" />
  <package id="Google.Api.Gax.Rest" version="4.8.0" targetFramework="net48" />
  <package id="Google.Apis" version="1.68.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.68.0" targetFramework="net48" />
  <package id="Google.Apis.Auth.AspNetCore" version="1.65.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.68.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authentication" version="2.0.4" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authentication.Abstractions" version="2.0.3" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authentication.Core" version="2.0.3" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authentication.OAuth" version="2.0.4" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authentication.OpenIdConnect" version="2.0.4" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authorization" version="2.0.4" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authorization.Policy" version="2.0.4" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="2.0.3" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.DataProtection" version="2.0.3" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.DataProtection.Abstractions" version="2.0.3" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.0.3" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.0.3" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http" version="2.0.3" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.0.3" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="2.0.3" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.0.3" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Mvc.Abstractions" version="2.0.4" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Mvc.Core" version="2.0.4" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.ResponseCaching.Abstractions" version="2.0.3" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Routing" version="2.0.3" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Routing.Abstractions" version="2.0.3" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.0.3" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Console" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Debug" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.ObjectPool" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.WebEncoders" version="2.0.2" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.4" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols" version="2.1.4" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="2.1.4" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.4" targetFramework="net48" />
  <package id="Microsoft.Net.Http.Headers" version="2.0.3" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.4.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net48" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net48" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net48" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net48" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net48" />
  <package id="SharpDX" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.DirectInput" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.XInput" version="4.2.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.4" targetFramework="net48" />
  <package id="System.Management" version="7.0.2" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.4.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="4.4.2" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.4.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>